:root{
    --style-ring-inset: var(--style-empty,/*!*/ /*!*/);
    --style-ring-offset-width: 0px;
    --style-ring-offset-color: #fff;
    --style-ring-color: rgba(66, 153, 225, 0.6);
    --style-ring-offset-shadow: 0 0 #0000;
    --style-ring-shadow: 0 0 #0000;
    --style-space-x-reverse: 0;
    --style-space-y-reverse: 0;
    --style-colors-transparent: transparent;
    --style-colors-current: currentColor;
    --style-colors-black: #000000;
    --style-colors-white: #FFFFFF;
    --style-colors-whiteAlpha-50: rgba(255, 255, 255, 0.04);
    --style-colors-whiteAlpha-100: rgba(255, 255, 255, 0.06);
    --style-colors-whiteAlpha-200: rgba(255, 255, 255, 0.08);
    --style-colors-whiteAlpha-300: rgba(255, 255, 255, 0.16);
    --style-colors-whiteAlpha-400: rgba(255, 255, 255, 0.24);
    --style-colors-whiteAlpha-500: rgba(255, 255, 255, 0.36);
    --style-colors-whiteAlpha-600: rgba(255, 255, 255, 0.48);
    --style-colors-whiteAlpha-700: rgba(255, 255, 255, 0.64);
    --style-colors-whiteAlpha-800: rgba(255, 255, 255, 0.80);
    --style-colors-whiteAlpha-900: rgba(255, 255, 255, 0.92);
    --style-colors-blackAlpha-50: rgba(0, 0, 0, 0.04);
    --style-colors-blackAlpha-100: rgba(0, 0, 0, 0.06);
    --style-colors-blackAlpha-200: rgba(0, 0, 0, 0.08);
    --style-colors-blackAlpha-300: rgba(0, 0, 0, 0.16);
    --style-colors-blackAlpha-400: rgba(0, 0, 0, 0.24);
    --style-colors-blackAlpha-500: rgba(0, 0, 0, 0.36);
    --style-colors-blackAlpha-600: rgba(0, 0, 0, 0.48);
    --style-colors-blackAlpha-700: rgba(0, 0, 0, 0.64);
    --style-colors-blackAlpha-800: rgba(0, 0, 0, 0.80);
    --style-colors-blackAlpha-900: rgba(0, 0, 0, 0.92);
    --style-colors-gray-50: #F7FAFC;
    --style-colors-gray-100: #EDF2F7;
    --style-colors-gray-200: #E2E8F0;
    --style-colors-gray-300: #CBD5E0;
    --style-colors-gray-400: #A0AEC0;
    --style-colors-gray-500: #718096;
    --style-colors-gray-600: #4A5568;
    --style-colors-gray-700: #2D3748;
    --style-colors-gray-800: #1A202C;
    --style-colors-gray-900: #171923;
    --style-colors-red-50: #FFF5F5;
    --style-colors-red-100: #FED7D7;
    --style-colors-red-200: #FEB2B2;
    --style-colors-red-300: #FC8181;
    --style-colors-red-400: #F56565;
    --style-colors-red-500: #E53E3E;
    --style-colors-red-600: #C53030;
    --style-colors-red-700: #9B2C2C;
    --style-colors-red-800: #822727;
    --style-colors-red-900: #63171B;
    --style-colors-orange-50: #FFFAF0;
    --style-colors-orange-100: #FEEBC8;
    --style-colors-orange-200: #FBD38D;
    --style-colors-orange-300: #F6AD55;
    --style-colors-orange-400: #ED8936;
    --style-colors-orange-500: #DD6B20;
    --style-colors-orange-600: #C05621;
    --style-colors-orange-700: #9C4221;
    --style-colors-orange-800: #7B341E;
    --style-colors-orange-900: #652B19;
    --style-colors-yellow-50: #FFFFF0;
    --style-colors-yellow-100: #FEFCBF;
    --style-colors-yellow-200: #FAF089;
    --style-colors-yellow-300: #F6E05E;
    --style-colors-yellow-400: #ECC94B;
    --style-colors-yellow-500: #D69E2E;
    --style-colors-yellow-600: #B7791F;
    --style-colors-yellow-700: #975A16;
    --style-colors-yellow-800: #744210;
    --style-colors-yellow-900: #5F370E;
    --style-colors-green-50: #F0FFF4;
    --style-colors-green-100: #C6F6D5;
    --style-colors-green-200: #9AE6B4;
    --style-colors-green-300: #68D391;
    --style-colors-green-400: #48BB78;
    --style-colors-green-500: #38A169;
    --style-colors-green-600: #2F855A;
    --style-colors-green-700: #276749;
    --style-colors-green-800: #22543D;
    --style-colors-green-900: #1C4532;
    --style-colors-teal-50: #E6FFFA;
    --style-colors-teal-100: #B2F5EA;
    --style-colors-teal-200: #81E6D9;
    --style-colors-teal-300: #4FD1C5;
    --style-colors-teal-400: #38B2AC;
    --style-colors-teal-500: #319795;
    --style-colors-teal-600: #2C7A7B;
    --style-colors-teal-700: #285E61;
    --style-colors-teal-800: #234E52;
    --style-colors-teal-900: #1D4044;
    --style-colors-blue-50: #ebf8ff;
    --style-colors-blue-100: #bee3f8;
    --style-colors-blue-200: #90cdf4;
    --style-colors-blue-300: #63b3ed;
    --style-colors-blue-400: #4299e1;
    --style-colors-blue-500: #3182ce;
    --style-colors-blue-600: #2b6cb0;
    --style-colors-blue-700: #2c5282;
    --style-colors-blue-800: #2a4365;
    --style-colors-blue-900: #1A365D;
    --style-colors-cyan-50: #EDFDFD;
    --style-colors-cyan-100: #C4F1F9;
    --style-colors-cyan-200: #9DECF9;
    --style-colors-cyan-300: #76E4F7;
    --style-colors-cyan-400: #0BC5EA;
    --style-colors-cyan-500: #00B5D8;
    --style-colors-cyan-600: #00A3C4;
    --style-colors-cyan-700: #0987A0;
    --style-colors-cyan-800: #086F83;
    --style-colors-cyan-900: #065666;
    --style-colors-purple-50: #FAF5FF;
    --style-colors-purple-100: #E9D8FD;
    --style-colors-purple-200: #D6BCFA;
    --style-colors-purple-300: #B794F4;
    --style-colors-purple-400: #9F7AEA;
    --style-colors-purple-500: #805AD5;
    --style-colors-purple-600: #6B46C1;
    --style-colors-purple-700: #553C9A;
    --style-colors-purple-800: #44337A;
    --style-colors-purple-900: #322659;
    --style-colors-pink-50: #FFF5F7;
    --style-colors-pink-100: #FED7E2;
    --style-colors-pink-200: #FBB6CE;
    --style-colors-pink-300: #F687B3;
    --style-colors-pink-400: #ED64A6;
    --style-colors-pink-500: #D53F8C;
    --style-colors-pink-600: #B83280;
    --style-colors-pink-700: #97266D;
    --style-colors-pink-800: #702459;
    --style-colors-pink-900: #521B41;
    --style-colors-linkedin-50: #E8F4F9;
    --style-colors-linkedin-100: #CFEDFB;
    --style-colors-linkedin-200: #9BDAF3;
    --style-colors-linkedin-300: #68C7EC;
    --style-colors-linkedin-400: #34B3E4;
    --style-colors-linkedin-500: #00A0DC;
    --style-colors-linkedin-600: #008CC9;
    --style-colors-linkedin-700: #0077B5;
    --style-colors-linkedin-800: #005E93;
    --style-colors-linkedin-900: #004471;
    --style-colors-facebook-50: #E8F4F9;
    --style-colors-facebook-100: #D9DEE9;
    --style-colors-facebook-200: #B7C2DA;
    --style-colors-facebook-300: #6482C0;
    --style-colors-facebook-400: #4267B2;
    --style-colors-facebook-500: #385898;
    --style-colors-facebook-600: #314E89;
    --style-colors-facebook-700: #29487D;
    --style-colors-facebook-800: #223B67;
    --style-colors-facebook-900: #1E355B;
    --style-colors-messenger-50: #D0E6FF;
    --style-colors-messenger-100: #B9DAFF;
    --style-colors-messenger-200: #A2CDFF;
    --style-colors-messenger-300: #7AB8FF;
    --style-colors-messenger-400: #2E90FF;
    --style-colors-messenger-500: #0078FF;
    --style-colors-messenger-600: #0063D1;
    --style-colors-messenger-700: #0052AC;
    --style-colors-messenger-800: #003C7E;
    --style-colors-messenger-900: #002C5C;
    --style-colors-whatsapp-50: #dffeec;
    --style-colors-whatsapp-100: #b9f5d0;
    --style-colors-whatsapp-200: #90edb3;
    --style-colors-whatsapp-300: #65e495;
    --style-colors-whatsapp-400: #3cdd78;
    --style-colors-whatsapp-500: #22c35e;
    --style-colors-whatsapp-600: #179848;
    --style-colors-whatsapp-700: #0c6c33;
    --style-colors-whatsapp-800: #01421c;
    --style-colors-whatsapp-900: #001803;
    --style-colors-twitter-50: #E5F4FD;
    --style-colors-twitter-100: #C8E9FB;
    --style-colors-twitter-200: #A8DCFA;
    --style-colors-twitter-300: #83CDF7;
    --style-colors-twitter-400: #57BBF5;
    --style-colors-twitter-500: #1DA1F2;
    --style-colors-twitter-600: #1A94DA;
    --style-colors-twitter-700: #1681BF;
    --style-colors-twitter-800: #136B9E;
    --style-colors-twitter-900: #0D4D71;
    --style-colors-telegram-50: #E3F2F9;
    --style-colors-telegram-100: #C5E4F3;
    --style-colors-telegram-200: #A2D4EC;
    --style-colors-telegram-300: #7AC1E4;
    --style-colors-telegram-400: #47A9DA;
    --style-colors-telegram-500: #0088CC;
    --style-colors-telegram-600: #007AB8;
    --style-colors-telegram-700: #006BA1;
    --style-colors-telegram-800: #005885;
    --style-colors-telegram-900: #003F5E;
    --style-colors-generalColor: #3d3d3d;
    --style-colors-backgroundPrimary: #fdd834;
    --style-colors-backgroundSecondary: #efefc1;
    --style-colors-backgroundTopdown: #f5f5f5;
    --style-colors-backgroundCardProduct: #ffffff;
    --style-colors-backgroundCardProductItem: #ffffff;
    --style-colors-backgroundCardPayment: #9e8a32;
    --style-colors-backgroundCardGeneral: #ffffff;
    --style-colors-backgroundCardPaymentCarousel: #ffffff;
    --style-colors-backgroundDot: #eac510;
    --style-colors-backgroundButton: #fdd834;
    --style-colors-textPrimary: #000000;
    --style-colors-textSecondary: #000000;
    --style-colors-textInvert: #ffffff;
    --style-colors-textTopdown: #000000;
    --style-colors-textDot: #000000;
    --style-colors-textButton: #000000;
    --style-borders-none: 0;
    --style-borders-1px: 1px solid;
    --style-borders-2px: 2px solid;
    --style-borders-4px: 4px solid;
    --style-borders-8px: 8px solid;
    --style-fonts-heading: Roboto,serif;
    --style-fonts-body: Roboto,sans-serif;
    --style-fonts-mono: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --style-fontSizes-xs: 0.75rem;
    --style-fontSizes-sm: 0.875rem;
    --style-fontSizes-md: 1rem;
    --style-fontSizes-lg: 1.125rem;
    --style-fontSizes-xl: 1.25rem;
    --style-fontSizes-2xl: 1.5rem;
    --style-fontSizes-3xl: 1.875rem;
    --style-fontSizes-4xl: 2.25rem;
    --style-fontSizes-5xl: 3rem;
    --style-fontSizes-6xl: 3.75rem;
    --style-fontSizes-7xl: 4.5rem;
    --style-fontSizes-8xl: 6rem;
    --style-fontSizes-9xl: 8rem;
    --style-fontWeights-hairline: 100;
    --style-fontWeights-thin: 200;
    --style-fontWeights-light: 300;
    --style-fontWeights-normal: 400;
    --style-fontWeights-medium: 500;
    --style-fontWeights-semibold: 600;
    --style-fontWeights-bold: 700;
    --style-fontWeights-extrabold: 800;
    --style-fontWeights-black: 900;
    --style-letterSpacings-tighter: -0.05em;
    --style-letterSpacings-tight: -0.025em;
    --style-letterSpacings-normal: 0;
    --style-letterSpacings-wide: 0.025em;
    --style-letterSpacings-wider: 0.05em;
    --style-letterSpacings-widest: 0.1em;
    --style-lineHeights-3: .75rem;
    --style-lineHeights-4: 1rem;
    --style-lineHeights-5: 1.25rem;
    --style-lineHeights-6: 1.5rem;
    --style-lineHeights-7: 1.75rem;
    --style-lineHeights-8: 2rem;
    --style-lineHeights-9: 2.25rem;
    --style-lineHeights-10: 2.5rem;
    --style-lineHeights-normal: normal;
    --style-lineHeights-none: 1;
    --style-lineHeights-shorter: 1.25;
    --style-lineHeights-short: 1.375;
    --style-lineHeights-base: 1.5;
    --style-lineHeights-tall: 1.625;
    --style-lineHeights-taller: 2;
    --style-radii-none: 0;
    --style-radii-sm: 0.125rem;
    --style-radii-base: 0.25rem;
    --style-radii-md: 0.375rem;
    --style-radii-lg: 0.5rem;
    --style-radii-xl: 0.75rem;
    --style-radii-2xl: 1rem;
    --style-radii-3xl: 1.5rem;
    --style-radii-full: 9999px;
    --style-space-1: 0.25rem;
    --style-space-2: 0.5rem;
    --style-space-3: 0.75rem;
    --style-space-4: 1rem;
    --style-space-5: 1.25rem;
    --style-space-6: 1.5rem;
    --style-space-7: 1.75rem;
    --style-space-8: 2rem;
    --style-space-9: 2.25rem;
    --style-space-10: 2.5rem;
    --style-space-12: 3rem;
    --style-space-14: 3.5rem;
    --style-space-16: 4rem;
    --style-space-20: 5rem;
    --style-space-24: 6rem;
    --style-space-28: 7rem;
    --style-space-32: 8rem;
    --style-space-36: 9rem;
    --style-space-40: 10rem;
    --style-space-44: 11rem;
    --style-space-48: 12rem;
    --style-space-52: 13rem;
    --style-space-56: 14rem;
    --style-space-60: 15rem;
    --style-space-64: 16rem;
    --style-space-72: 18rem;
    --style-space-80: 20rem;
    --style-space-96: 24rem;
    --style-space-px: 1px;
    --style-space-0-5: 0.125rem;
    --style-space-1-5: 0.375rem;
    --style-space-2-5: 0.625rem;
    --style-space-3-5: 0.875rem;
    --style-space-container: 0 16px;
    --style-shadows-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
    --style-shadows-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --style-shadows-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --style-shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --style-shadows-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --style-shadows-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),0 10px 10px -5px rgba(0, 0, 0, 0.04);
    --style-shadows-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --style-shadows-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);
    --style-shadows-inner: inset 0 2px 4px 0 rgba(0,0,0,0.06);
    --style-shadows-none: none;
    --style-shadows-dark-lg: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,rgba(0, 0, 0, 0.2) 0px 5px 10px,rgba(0, 0, 0, 0.4) 0px 15px 40px;
    --style-sizes-1: 0.25rem;
    --style-sizes-2: 0.5rem;
    --style-sizes-3: 0.75rem;
    --style-sizes-4: 1rem;
    --style-sizes-5: 1.25rem;
    --style-sizes-6: 1.5rem;
    --style-sizes-7: 1.75rem;
    --style-sizes-8: 2rem;
    --style-sizes-9: 2.25rem;
    --style-sizes-10: 2.5rem;
    --style-sizes-12: 3rem;
    --style-sizes-14: 3.5rem;
    --style-sizes-16: 4rem;
    --style-sizes-20: 5rem;
    --style-sizes-24: 6rem;
    --style-sizes-28: 7rem;
    --style-sizes-32: 8rem;
    --style-sizes-36: 9rem;
    --style-sizes-40: 10rem;
    --style-sizes-44: 11rem;
    --style-sizes-48: 12rem;
    --style-sizes-52: 13rem;
    --style-sizes-56: 14rem;
    --style-sizes-60: 15rem;
    --style-sizes-64: 16rem;
    --style-sizes-72: 18rem;
    --style-sizes-80: 20rem;
    --style-sizes-96: 24rem;
    --style-sizes-px: 1px;
    --style-sizes-0-5: 0.125rem;
    --style-sizes-1-5: 0.375rem;
    --style-sizes-2-5: 0.625rem;
    --style-sizes-3-5: 0.875rem;
    --style-sizes-max: max-content;
    --style-sizes-min: min-content;
    --style-sizes-full: 100%;
    --style-sizes-3xs: 14rem;
    --style-sizes-2xs: 16rem;
    --style-sizes-xs: 20rem;
    --style-sizes-sm: 24rem;
    --style-sizes-md: 28rem;
    --style-sizes-lg: 32rem;
    --style-sizes-xl: 36rem;
    --style-sizes-2xl: 42rem;
    --style-sizes-3xl: 48rem;
    --style-sizes-4xl: 56rem;
    --style-sizes-5xl: 64rem;
    --style-sizes-6xl: 72rem;
    --style-sizes-7xl: 80rem;
    --style-sizes-8xl: 90rem;
    --style-sizes-container-sm: 640px;
    --style-sizes-container-md: 768px;
    --style-sizes-container-lg: 1024px;
    --style-sizes-container-xl: 1280px;
    --style-sizes-container-xs: 480px;
    --style-sizes-screen: 100vh;
    --style-zIndices-hide: -1;
    --style-zIndices-auto: auto;
    --style-zIndices-base: 0;
    --style-zIndices-docked: 10;
    --style-zIndices-dropdown: 1000;
    --style-zIndices-sticky: 1100;
    --style-zIndices-banner: 1200;
    --style-zIndices-overlay: 1300;
    --style-zIndices-modal: 1400;
    --style-zIndices-popover: 1500;
    --style-zIndices-skipLink: 1600;
    --style-zIndices-toast: 1700;
    --style-zIndices-tooltip: 1800;
    --style-transition-property-common: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    --style-transition-property-colors: background-color,border-color,color,fill,stroke;
    --style-transition-property-dimensions: width,height;
    --style-transition-property-position: left,right,top,bottom;
    --style-transition-property-background: background-color,background-image,background-position;
    --style-transition-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
    --style-transition-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);
    --style-transition-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --style-transition-duration-ultra-fast: 50ms;
    --style-transition-duration-faster: 100ms;
    --style-transition-duration-fast: 150ms;
    --style-transition-duration-normal: 200ms;
    --style-transition-duration-slow: 300ms;
    --style-transition-duration-slower: 400ms;
    --style-transition-duration-ultra-slow: 500ms;
    --style-blur-none: 0;
    --style-blur-sm: 4px;
    --style-blur-base: 8px;
    --style-blur-md: 12px;
    --style-blur-lg: 16px;
    --style-blur-xl: 24px;
    --style-blur-2xl: 40px;
    --style-blur-3xl: 64px;
}
.just-pay-w {
    display: grid;
    grid-gap: var(--style-space-4);
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.just-pay-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: var(--style-sizes-full);
    height: var(--style-sizes-full);
    position: relative;
    background-color: var(--style-colors-backgroundCardProductItem);    
    border: var(--style-borders-1px);
    border-color: inherit;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    cursor: pointer;
    border-radius: var(--style-radii-lg);
    -webkit-padding-start: var(--style-space-4);
    padding-inline-start: var(--style-space-4);
    -webkit-padding-end: var(--style-space-4);
    padding-inline-end: var(--style-space-4);
    padding-top: var(--style-space-1);
    padding-bottom: var(--style-space-1);
    overflow: hidden;
    text-align: left;
}
.dark-layout .just-pay-form{
    background-color:#2d3238;
    color:white;
}
    .just-pay-text{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.just-pay-br {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    justify-self: stretch;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}.just-pay-img { display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-align-items: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;}.just-pay-imgg {width: var(--style-sizes-10);height: var(--style-sizes-10);}
.just-pay-label {font-size: var(--style-fontSizes-xs);font-weight: var(--style-fontWeights-semibold);}.just-pay-text>*:not(style)~*:not(style) {margin-top: 0.5rem;-webkit-margin-end: 0px;margin-inline-end: 0px; margin-bottom: 0px;-webkit-margin-start: 0px;margin-inline-start: 0px;}.just-pay-price {font-size: xx-small;font-weight: var(--style-fontWeights-semibold);}.daftar-games {width: 18%;margin:2px;text-align: center;display: inline-block;text-align: center;vertical-align: top;flex-wrap: wrap;flex-direction: row;align-content: center;justify-content: flex-end;
}.daftar-games a img {width: 100%;border-radius: 8px;}.carousel-inner {border-radius: 10px;}.ca-title {margin-left: 50px;font-weight: bold;}.ca-title:before {content: ' ';background: #7367F0;width: 34px;height: 9px;display: block;position: absolute;border-radius: 40px;margin-top: 5px;margin-left: -45px;}.cg-4 {background: #fff;border: 1px solid #ebebeb;padding: 5px;border-radius: 14px;min-height: 203px;}.cg-4-title {padding: 4px;font-weight: bold;color:#283046;}.clip-path {display: flex;padding: 0;margin-top: -32px;width: 100%;height: 35px;background-color: white;clip-path: polygon(0 23%,6% 72%,12% 47%,18% 70%,24% 51%,32% 80%,38% 47%,44% 80%,50% 49%,56% 70%,60% 86%,66% 42%,72% 65%,78% 38%,84% 64%,90% 17%,96% 20%,100% 1%,100% calc(100% + 1px),0 calc(100% + 1px));-webkit-clip-path: polygon(0 23%,6% 72%,12% 47%,18% 70%,24% 51%,32% 80%,38% 47%,44% 80%,50% 49%,56% 70%,60% 86%,66% 42%,72% 65%,78% 38%,84% 64%,90% 17%,96% 20%,100% 1%,100% calc(100% + 1px),0 calc(100% + 1px));}.dark-layout .clip-path{background-color:#283046;}.dark-layout .cg-4 {background: #283046;border-color: #283046;}.dark-layout .cg-4-title {color: #fff;}@media only screen and (max-width: 600px) {.cg-4 {min-height: 165px;}.cg-4-title {padding: 2px;font-size:10px;}.daftar-games {width: 30%;margin: 2px;}.title-game {font-size: 10.5px;}.carousel-inner {border-radius: 0;}}.fab-container{position: fixed;bottom: 85px;right: 30px;z-index: 999;cursor: pointer;}.fab-icon-holder {width: 40px;height: 40px;bottom: 140px;left: 10px;color: #FFF;background: #5865f2;border-radius: 7px;text-align: center;font-size: 30px;z-index: 99999;}.fab-options {list-style-type: none;margin: 0;position: absolute;bottom: 48px;left: -37px;opacity: 0;transition: all 0.3s ease;transform: scale(0);transform-origin: 85% bottom;}.footer__clip-path {display: flex;padding: 0;margin-top: -39px;width: 100%;height: 40px;background-color: #7367F0;clip-path: polygon(0 23%,6% 72%,12% 47%,18% 70%,24% 51%,32% 80%,38% 47%,44% 80%,50% 49%,56% 70%,60% 86%,66% 42%,72% 65%,78% 38%,84% 64%,90% 17%,96% 20%,100% 1%,100% calc(100% + 1px),0 calc(100% + 1px));-webkit-clip-path: polygon(0 23%,6% 72%,12% 47%,18% 70%,24% 51%,32% 80%,38% 47%,44% 80%,50% 49%,56% 70%,60% 86%,66% 42%,72% 65%,78% 38%,84% 64%,90% 17%,96% 20%,100% 1%,100% calc(100% + 1px),0 calc(100% + 1px));}.float-start {float: left!important;}.form-switch{padding-left: 2.5em;}.form-check {display: block;margin-bottom: 0.125rem;min-height: 1.44rem;padding-left: 1.5em;}.form-switch .form-check-input:checked {background-image: url(../images/clear-sun_icon-icons.com_54320.png);background-position: 100%;}.form-check-input:checked[type=checkbox] {background-image: url(../images/pngwing.com.png);}.form-switch .form-check-input {background-image: url(../images/clear-sun_icon-icons.com_54320.png);background-position: 0;border-radius: 2em;margin-left: -2.5em;transition: background-position .15s ease-in-out;width: 2em;}.form-check-input:checked {background-color: #7367F0;border-color: #7367F0;}.form-check-input[type=checkbox] {border-radius: 0.25em;}.form-check .form-check-input {float: left;margin-left: -1.5em;}.form-check-input {-webkit-print-color-adjust: exact;-webkit-appearance: none;-moz-appearance: none;appearance: none;background-color: #fff;background-position: 50%;background-repeat: no-repeat;background-size: contain;border: 1px solid rgba(0,0,0,.25);color-adjust: exact;height: 1em;margin-top: 0.3em;vertical-align: top;width: 1em;}.formss {position: relative;display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip:border-box;border: 1px solid rgba(0,0,0,.125);border-radius: 10px;
    border: 0;}.formss .formss-body {padding: 8px;}.border-left-dotted-blue {
    border-left: 3px dotted rgba(0,0,0,.1)!important;border-color: #7367F0!important;}.dark-layout .formss{background-color:#283046;color:white;}.stylestore-prod {color: #283046;text-align: left;margin-right: 10px;}.noms {font-size: 10px;text-align: left;}.dark-layout .stylestore-prod{color:#ffff;}.metode-list {border-radius: 1px #7367F0!important;}.metode-list {overflow: hidden !important;}#method-select {background: url('../images/select_icon.png');display: inline-block;width: 60px;height: 80px;position: relative;float: right;margin-top: -64px;transform: rotate(45deg);margin-right: -60px;}    .horitab-scroll {display: flex;flex-wrap: nowrap;padding-bottom: 1.5rem;padding-left: 0;margin-block: 0;overflow-x: auto;list-style: none;text-align: center; white-space: nowrap;overflow: auto;}